.hf-card {
  background-color: white;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.hf-card__image {
  background: no-repeat center center;
  background-size: cover;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  height: 250px;
}

.hf-card__image::before {
   content: "";
   display: block;
   padding-top: 56.25%; /*16:9 aspect ratio;*/
 }

@media(min-width: 40rem) {
  .hf-card__image::before {
    padding-top: 66.6%; /*3: 2 aspect ratio*/
  }
}

.hf-card__content {
  display: flex;
  flex-direction: column;
}

.hf-card__content-top {
  display: flex;
  align-items: center;
}

.hf-card__restaurant-name {
  font-weight: bold;
}

.feather-star {
  width: 14px;
  height: 14px;
}

.rating-color {
  color: #FF9900;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-shrink: 0;
}

.hf-card__item {
  padding: 1rem;
}

@media (min-width: 768px) {
  .hf-card__item {
    width: 33.3333%;
  }
}

@media (min-width: 896px) {
  .hf-card__item {
    width: 33.3333%;
  }
}

@media (max-width: 768px) {
  .hf-card__item {
    width: 50%;
  }
}

@media (max-width: 468px) {
  .hf-card__item {
    width: 100%;
  }
}
