header {
  background-color: transparent;
  height: 48px;
}

.hf-header {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0 12px;
  height: 100%;
}

.hf-header__left {
  display: flex;
}

.hf-header__middle {
  display: flex;
  flex-grow: 1;
  margin-left: 64px;
}

.hf-header__right {
  display: flex;
  align-items: center;
}

.hf-header__nav-item {
  align-items: center;
  display: flex;
  font-size: 1rem;
  padding: 6px 8px;
}

.hf-header__nav-item .hf-logo {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 22px;
}

.hf-header__nav-item .hf-logo > span {
  color: #E23943;
}

.hf-header__icon {
  height: 24px;
  width: 24px;
  position: relative;
  vertical-align: middle;
  margin: 0 8px;
}

.hf-avatar {
  height: 36px;
  width: 36px;
  position: relative;
  vertical-align: middle;
  margin-left: 8px;
}

.hf-avatar > img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: relative;
}
