header {
  background-color: transparent;
  height: 70px;
  color: #eeeeee;
}

.hf-header {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 100%;
}

.hf-header__left {
  display: flex;
}

.hf-header__middle {
  display: flex;
  flex-grow: 1;
  margin-left: 140px;
}

.hf-header__right {
  display: flex;
  align-items: center;
}

.hf-header__nav-item {
  align-items: center;
  display: flex;
  font-size: 1rem;
  padding: 6px 8px;
}

.hf-header__nav-item .hf-logo {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 22px;
}

.hf-header__nav-item .hf-logo > span {
  color: #E23943;
}

.hf-header__icon {
  height: 24px;
  width: 24px;
  position: relative;
  vertical-align: middle;
  margin: 0 8px;
}

.hf-avatar {
  height: 50px;
  width: 50px;
  position: relative;
  vertical-align: middle;
  margin-left: 8px;
}

.hf-avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
}

.hf-browse {
  display: flex;
  align-items: center;
  color: white;
}

a[role="button"]:focus {
  outline: 0;
}

.account_dropdown .mdc-menu-anchor {
  position: absolute;
  top: 70px;
  right: 20px;
}

.responsive-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.responsive-menu__content {
  background-color: rgba(39, 48, 66, 0.987);
  position: relative;
  min-height: 400px;
  text-align: center;
  padding: 20px 64px;
}

.responsive-menu__content li {
  display: block;
  line-height: 36px;
  position: relative;
  list-style: none;
  cursor: pointer;
  font-size: 40px;
  padding: 16px 0;
}

.close {
  position: absolute;
  top: 25px;
  left: 35px;
}

.close a {
  color: white;
}
