header {
  background-color: transparent;
  height: 70px;
  color: #eeeeee;
}

.hf-header {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 100%;
}

.hf-header__left {
  display: flex;
}

.hf-header__middle {
  display: flex;
  flex-grow: 1;
  margin-left: 140px;
}

.hf-header__right {
  display: flex;
  align-items: center;
}

.hf-header__nav-item {
  align-items: center;
  display: flex;
  font-size: 1rem;
  padding: 6px 8px;
}

.hf-logo {
  font-family: "Times New Roman", Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 1px;
}

.hf-logo {
  color: #eeeeee;
}

.hf-logo > span {
  color: #E23943 !important;
}

.back-link {
  padding: 16px 20px;
  font-size: 12px;
}

.hf-avatar {
  height: 40px;
  width: 40px;
  position: relative;
  vertical-align: middle;
  margin-left: 8px;
  background-color: #eee;
  border-radius: 50px;
}

.hf-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
}

.hf-browse {
  display: flex;
  align-items: center;
  color: white;
}

a[role="button"]:focus {
  outline: 0;
}

.account_dropdown .mdc-menu-anchor {
  position: absolute;
  top: 70px;
  right: 20px;
}

.responsive-menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.responsive-menu__content {
  background-color: rgba(39, 48, 66, 0.987);
  position: relative;
  min-height: 600px;
  text-align: center;
  padding: 20px 64px;
}

.responsive-menu__content li {
  display: block;
  line-height: 36px;
  position: relative;
  list-style: none;
  cursor: pointer;
  font-size: 40px;
  padding: 16px 0;
}

.responsive-menu__content a {
  color: #eeeeee;
}

.icon--close {
  position: absolute;
  top: 26px;
  left: 30px;
}

.icon--close a {
  color: white;
}

.hf-menu {
  display: none;
}

.hf-auth__buttons a {
  font-size: 12px;
  color: white;
}

.seperator {
  margin: 3px 8px 0;
  color: rgba(255,255,255,.456);
}

@media (max-width: 768px) {
  .hf-header__middle {
    order: 1;
    flex-grow: 0;
    margin-left: 0;
    display: none;
  }

  .hf-header__left {
    order: 2;
    flex-grow: 1;
  }

  .hf-header__right {
    order: 3;
    float: right;
  }

  .hf-menu {
    display: flex;
    padding: 0;
  }

  .hf-menu .menu-icon {
    color: white;
  }

  .hf-auth__buttons {
    display: flex;
    align-items: center;
  }
}

