.react-tabs__tab-list {
  background-color: #273042;
  padding: 0 20px;
  margin: 0;
  border-bottom: 1px solid transparent;
}

.react-tabs {
  display: flex;
  flex-direction: column;
}

.react-tabs__tab{
  display: inline-block;
  border: 0;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px;
  cursor: pointer;
  font-size: 12px;
  line-height: 22px;
  margin-right: 44px;
  color: white;
}

.hf-nav__filter {
  margin: 16px 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
}

.hf-nav__filter-items {
  list-style: none;
  margin-left: 16px;
}

.hf-nav__filter-items li {
  display: inline-block;
  line-height: 18px;
  font-size: 12px;
  font-weight: 300;
  padding: 4px;
  cursor: pointer;
  margin: 0 8px;
}

.hf-nav__filter-items a {
  color: #273042;
}

.active-filter {
  border-bottom: 2px solid #273042;
}

.react-tabs__tab--selected {
  background: transparent;
  border-bottom: 2px solid #DF3943;
  color: #DF3943;
  border-radius: 0;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}


@media(max-width: 768px) {
  .react-tabs__tab-list {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .react-tabs__tab {
    margin-right: auto;
  }
  .react-tabs {
    width: 100%;
    position: relative;
  }

  .hf-nav {
    flex-direction: column;
  }

  .hf-hero {
    flex-direction: column;
    align-items: center;
  }

  .react-tabs {
    border-bottom: 1px solid #6d819c;
  }

}

@media(max-width: 468px) {
  .react-tabs__tab-list {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .react-tabs__tab {
    margin-right: auto;
  }
  .react-tabs {
    width: 100%;
    position: relative;
  }
}

